name: Test Pipeline

on:
  push:
    branches-ignore: [main, stage]
  pull_request:
  workflow_call:

permissions:
  contents: read
  pull-requests: read

jobs:
  typo-check:
    uses: ./.github/workflows/_typo-check.yml

  validate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [global, mainnet, stokenet]
      fail-fast: false
    name: Validate ${{ matrix.environment }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.0"

      - name: Terraform fmt
        run: terraform fmt -check
        working-directory: environments/${{ matrix.environment }}

      - name: Terraform init
        run: terraform init -backend=false
        working-directory: environments/${{ matrix.environment }}

      - name: Terraform validate
        run: terraform validate -no-color
        working-directory: environments/${{ matrix.environment }}
